body {
    font-family: sans-serif;
    margin: 0;
    color:aqua
  }

  .planet-name {
    font-style: italic;
    font-size: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .search-planet {
    font-weight: 200;
    color: black;
  }

  .planet-desc {
    font-style: italic;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5cm;
    margin-right: 5cm;
  }

  .planet-orbitalPeriod {
    font-style: italic;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 5cm;
    margin-right: 5cm;
  }

  .planet-moons {
    font-style: italic;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 5cm;
    margin-right: 5cm;
  }

  .planet-type {
    font-style: italic;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 5cm;
    margin-right: 5cm;
  }

  .planet-latinName {
    font-style: italic;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 5cm;
    margin-right: 5cm;
  }

  .planet-rotation {
    font-style: italic;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 5cm;
    margin-right: 5cm;
  }

  .planet-circumference {
    font-style: italic;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 5cm;
    margin-right: 5cm;
  }

  .planet-temp {
    font-style: italic;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 5cm;
    margin-right: 5cm;
  }

  .planet-distance {
    font-style: italic;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 5cm;
    margin-right: 5cm;
  }

  
  #planet-container {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .planet {
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0 10px;
  }
  
  .planet.jupiter {
    background-color: rgb(202, 18, 18);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 10px;
  }

  .planet.venus {
    background-color: rgb(33, 148, 48);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: 0 10px;
  }

  .planet.mars {
    background-color: rgb(186, 224, 47);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 10px;
  }
  
  .planet.solen {
    background-color: yellow;
    height: 80vh;
    width: 10vw;
    border-radius: 0 100% 100% 0/0 50% 50% 0;
  }
  
  
  .planet-overlay {
      height: 100%;
      width: 100vw;
      background-color: rgb(14, 14, 8);
      position: fixed;
      top: 0;
      display: none;
  };